@{
    ViewData["Title"] = "Privacy Policy";
}
@using WebMvc1.Data

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

@if ((await IsHasPermissionAsync(Constants.OperationName.Create)))
{
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="TestCreate">Test Create</a>
}
@if ((await IsHasPermissionAsync(Constants.OperationName.Update)))
{
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="TestUpdate">Test Update</a>
}
@if ((await IsHasPermissionAsync(Constants.OperationName.Delete)))
{
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="TestDelete">Test Delete</a>
}
@if ((await IsHasPermissionAsync(Constants.OperationName.Approve)))
{
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="TestApprove">Test Approve</a>
}
@if ((await IsHasPermissionAsync(Constants.OperationName.Reject)))
{
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="TestReject">Test Reject</a>
}
@if ((await IsHasPermissionAsync(Constants.OperationName.Create, Constants.OperationName.Update, Constants.OperationName.Delete, Constants.OperationName.Approve, Constants.OperationName.Reject)))
{
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="TestRead">Test Read</a>
}
@if ((await IsHasPermissionAsync(true, Constants.OperationName.Create, Constants.OperationName.Update, Constants.OperationName.Approve)))
{
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="TestReadV2">Test Read V2</a>
}
@* <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="TestNormalUserRole">Test Normal User Role</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="TestAdminRole">Test Admin Role</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="TestSuperAdminRole">Test Super Admin Role</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="TestMoreAdminRole">Test More Admin Role</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="TestMoreAdminRoleV2">Test More Admin Role V2</a> *@

@section scripts {
    <script src="~/js/Home/privacy.js" asp-append-version="true"></script>
}