@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="TestCreate">Test Create</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="TestUpdate">Test Update</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="TestDelete">Test Delete</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="TestApprove">Test Approve</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="TestReject">Test Reject</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="TestRead">Test Read</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="TestReadV2">Test Read V2</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="TestNormalUserRole">Test Normal User Role</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="TestAdminRole">Test Admin Role</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="TestSuperAdminRole">Test Super Admin Role</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="TestMoreAdminRole">Test More Admin Role</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="TestMoreAdminRoleV2">Test More Admin Role V2</a>
